@import "effects/colors";
@import "effects/stars";
@import "effects/projects";
@import "effects/about";

*{
    margin: 0;
    padding: 0
}

html{
    overflow-x: hidden;
    scrollbar-width: none;
}

body{
    min-height: 100vh;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    background: #000;
}
#index-html{
    overflow: hidden;
}
#index-body{
    overflow: hidden;
}
#bgindex{
    margin-top: 25px;
    position: absolute;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100vw;
    height:100vh; 
    background-image: url(../assets/backgrounds/Index-BG.jpg);
    z-index: -1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transform: scale(1.1);
}


.titleText{
    position: absolute;
    visibility: hidden;
    color: $secondary-color;
}

.header{
    width: 100%;
    height: 30px; 
    background-color: transparent;
    padding: 30px 0;
    display: flex;
    flex-direction: row wrap;
    justify-content: space-around;
   
    .home {
        background: url(../assets/home-yellow.svg);
        background-size: cover;
        height: 40px;
        width: 40px;
        &:hover {
            background: url(../assets/home-blue.svg);
            background-size: cover;
            height: 40px; 
            width: 40px;
            }
        &.active {
            background: url(../assets/home-blue.svg); 
            background-size: cover;
            height: 40px;
            width: 40px;
        }
    }
   
    .travel  {
        background: url(../assets/spaceship-yellow.png);
        background-size: cover;
        height: 40px; 
        width: 40px;
        &:hover {
            background: url(../assets/spaceship-blue.png);
            background-size: cover;
            height: 40px; 
            width: 40px;
        }
        &.active {
                background: url(../assets/spaceship-blue.png); 
                background-size: cover;
                height: 40px;
                width: 40px;
            }
    }
    .astro {
        background: url(../assets/astronaut-yellow.png);
        background-size: cover;
        height: 40px; 
        width: 40px;
        animation: astro-rotate 10s infinite linear;
            &:hover {
                background: url(../assets/astronaut-blue.png);
                background-size: cover;
                height: 40px; 
                width: 40px;
            }
            &.active {
                background: url(../assets/astronaut-blue.png); 
                background-size: cover;
                height: 40px;
                width: 40px;
            }
    }   
}

.welcomeMessage {
    margin-top: 30px;
    font-size: 32px;
    font-family: "lato", sans-serif;
    filter: drop-shadow(0 2px 4px $primary-color);
    text-align: center;
    color: #fff;
    background: -webkit-linear-gradient(white, $primary-color);
    background-clip:text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.under-line {
    height: 1px;
    background: $secondary-color; 
    
}
#arrow{
    position: absolute;
    bottom: -10px;
    left: 98.8%;
    height: 1px;
    width: 30px;
    background: $secondary-color;  
    transform: rotate(45deg);
    animation: opacity-pointer 3s steps(29,end) 1s 1 normal both;
    animation-delay: 2500ms;
}
#left-arrow{
    position: absolute;
    bottom: 10px;
    right: 98.5%;
    height: 1px;
    width: 30px;
    background: $secondary-color;  
    transform: rotate(45deg);
    animation: opacity-pointer  2s steps(29,end) 1s 1 normal both;
    animation-delay: 3000ms;
    
}



.containerQuote {
    display: flex;
    margin: 55px auto;
    width: fit-content;
    a{
        border-right: solid 2px $tertiary-color;
        font-size: 30px;
        font-family: "Exo 2";
        color: $secondary-color;
        white-space: nowrap;
        overflow: hidden;  
        text-decoration: none;
        border-bottom: 1px solid currentColor;
        animation: animated-text 2s steps(29,end) 1s 1 normal both,
                   animated-cursor 600ms steps(10) infinite;
        animation-delay: 1500ms;
    }
}


// Warning signs CSS here

#warning {
    width: 45px;
    height: 45px;
    animation: blink 1s;
    animation-iteration-count: infinite;
}
#warning2 {

    width: 45px;
    height: 45px;
    animation: blink 1s;
    animation-iteration-count: infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

// End of warning 
.container1 {
    position: absolute;
    margin: 5% 15% 0; 
 
    width: fit-content;
    p{
        border-right: solid 3px $tertiary-color;
        font-size: 30px;
        font-family: "Exo 2";
        color: $primary-color;
        white-space: nowrap;
        overflow: hidden;  
        animation: animated-text 2s steps(29,end) 1s 1 normal both,
        animated-cursor 600ms steps(29,end) infinite;
        animation-delay: 2000ms;
    }
    .under-line{
        animation: animated-text 2s steps(29,end) 1s 1 normal both;
        animation-delay: 2000ms;
    }
}
.container2 {
    position: absolute;
   
    margin-top: 250px;
    margin-left: 55%;
    width: fit-content;
    p{
        border-right: solid 3px $tertiary-color;
        font-size: 30px;
        text-align: center;
        font-family: "Exo 2";
        color: $primary-color;
        overflow: hidden;
        white-space: nowrap;  
        animation: animated-text 2s steps(29,end) 1s 1 normal both,
                   animated-cursor 600ms steps(29,end) infinite;
        animation-delay: 3000ms;
    }
    .under-line{
        animation: animated-text 2s steps(29,end) 1s 1 normal both;
        animation-delay: 3000ms;
    }
}



@keyframes opacity-pointer{
    from{opacity: 0;}
    to{opacity: 1;}
  }

@keyframes animated-text{
    from{width: 0;}
    to{width: 100%;}
  }

 
@keyframes animated-cursor{
    from{border-right-color: $tertiary-color;}
    to{border-right-color: transparent;}
  }
@keyframes astro-rotate {
    from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(359deg);
      }
  }

// responsive query here
  
@media (max-width: 1200px){
    .welcomeMessage {
        margin-top: 15px;
        font-size: 30px;
    }
    .container1{
        margin: 4% 0 0 6% ;

        p{
            font-size: 26px;
        }
    }
    #arrow{
        left: 98.6%;  
    }
    .container2 {
        margin-top: 150px;
        margin-left:55%;
        p{
            font-size: 26px;
        }
    }
}
@media (max-width: 860px){
    .welcomeMessage {
        margin-top: 15px;
        font-size: 26px;
    }
    .container1{
        margin: 4% 0 0 6% ;

        p{
            font-size: 20px;
        }
    }
    #arrow{
        left: 98.5%;  
    }
    .container2 {
        margin-left:55%;
        p{
            font-size: 20px;
        }
    }
}
@media (max-width: 670px){
    .welcomeMessage {
        margin-top: 15px;
        font-size: 26px;
    }
    .containerQuote{
        margin: 25px auto;
        #warning{
           height: 30px; 
           width: 30px; 
        }
        #warning2{
           height: 30px; 
           width: 30px; 
        }
        a{
            font-size: 26px;
        }    
    }
    .container1{
        margin: 2% 0 0 3% ;

        p{
            font-size: 16px;
        }
    }
    #arrow{
        left: 98%;  
    }
    .container2 {

        margin-left:45%;
        p{
            font-size: 16px;
        }
    }
}


@media (max-width: 530px){
    body{
        overflow-y: hidden;
    }

    .welcomeMessage {
        margin-top: 30px;
        font-size: 26px;
    }
    .containerQuote{
        margin: 25px auto;
        #warning{
           height: 30px; 
           width: 30px; 
        }
        #warning2{
           height: 30px; 
           width: 30px; 
        }
        a{
            font-size: 26px;
        }    
    }
    .container1{
        margin: 10% 0 0 3% ;

        p{
            font-size: 20px;
        }
    }
    #arrow{
        left: 98%;  
    }
    .container2 {
        bottom:175px;
        margin-left:20%;
        p{
            font-size: 20px;
          
        }
    }
    .header{
        position: absolute;
        bottom: 0;
    }

}